.display {
    -fx-skin            : "extremeguimakeover.DisplaySkin";
    /*-fx-background-color: black;*/
    -bright-fill        : rgb(233, 229, 216);
    -medium-fill        : rgb(124,121,110);
    -red-fill           : rgb(186, 64, 58);
}

.display .autocue-back {
    -fx-background-color : rgb(69, 67, 60), black;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 1.5;
    -fx-scale-shape      : true;
    -fx-shape            : "M 41.0 42.0 C 41.0 41.0 42.0 40.0 43.0 40.0 C 43.0 40.0 87.0 40.0 87.0 40.0 C 88.0 40.0 89.0 41.0 89.0 42.0 C 89.0 42.0 89.0 53.0 89.0 53.0 C 89.0 54.0 88.0 55.0 87.0 55.0 C 87.0 55.0 43.0 55.0 43.0 55.0 C 42.0 55.0 41.0 54.0 41.0 53.0 C 41.0 53.0 41.0 42.0 41.0 42.0 Z";
}

.display .pauseicon {
    -fx-background-color: rgb(188, 183, 166);
    -fx-scale-shape     : true;
    -fx-shape           : "M 117.0 43.0 L 117.0 51.0 L 119.0 51.0 L 119.0 43.0 L 117.0 43.0 ZM 113.0 43.0 L 113.0 51.0 L 115.0 51.0 L 115.0 43.0 L 113.0 43.0 Z";
}

.display .small-text {
    -fx-fill  : -medium-fill;
    /*-fx-effect: innershadow(two-pass-box, black, 1, 0.1, 0, 0)*/
}
.display .small-text-red {
    -fx-fill     : -red-fill;
    /*-fx-effect   : innershadow(two-pass-box, black, 1, 0.1, 0, 0)*/
}
.display .medium-text {
    -fx-text-fill: -bright-fill;
    -fx-fill     : -bright-fill;
    -fx-effect   : innershadow(two-pass-box, black, 4, 0.5, 0, 0)
}
.display .big-text {
    -fx-text-fill: -bright-fill;
    -fx-fill     : -bright-fill;
    -fx-effect   : innershadow(two-pass-box, black, 6, 0.7, 0, 0)
}

.display .back-arrow {
    -fx-background-color: #5e5e5d;
    -fx-scale-shape     : true;
    -fx-shape           : "M 473 29 L 469.0313 31.4063 L 473 34 L 473 32.375 L 480.5 32.375 C 480.5 32.375 482.5313 32.4688 482.5625 34.8125 C 482.5625 37.1563 480 37.5625 480 37.5625 L 467.0625 37.5625 L 467 39 L 480 39 C 482.5625 38.9375 484.1875 37.2813 484.1875 34.6875 C 484.1875 32.375 482.4375 30.625 480.1875 30.5625 C 479.0938 30.5938 473 30.5625 473 30.5625 L 473 29 Z";
}

.display .back-button {
    -fx-background-color : #212121,
                           #0d0d0d,
                           linear-gradient(to bottom,
                                           rgb(25,25,23) 0%,
                                           rgb(43,41,38) 1%,
                                           rgb(27,27,27) 50%,
                                           rgb(23,23,23) 100%),
                           black,
                           #151513,
                           linear-gradient(to bottom,
                                           rgb(25,25,23) 0%,
                                           rgb(0,0,0) 3%,
                                           rgb(0,0,0) 49%,
                                           rgb(0,0,0) 66%,
                                           rgb(35,35,32) 100%);
    -fx-background-insets: 0, 1, 3, 4, 6, 7;
    -fx-background-radius: 17, 17, 15, 15, 13, 13;
}
.display:pushed .back-button {
    -fx-background-color : #212121,
                           #0d0d0d,
                           linear-gradient(to bottom,
                                           rgb(21,21,19) 0%,
                                           rgb(43,41,38) 1%,
                                           rgb(27,27,27) 50%,
                                           rgb(23,23,23) 100%),
                           black,
                           #151513,
                           linear-gradient(to bottom,
                                           rgb(27,27,24) 0%,
                                           rgb(0,0,0) 3%,
                                           rgb(0,0,0) 49%,
                                           rgb(0,0,0) 66%,
                                           rgb(21,21,19) 100%);
    -fx-effect           : dropshadow(gaussian, -red-fill, 10, 0.5, 0, 0);
}

.display .highlight {
    -fx-background-color: linear-gradient(from 69.8347% 0.8658% to 3.719% 96.1039%,
                                          rgba(255, 255, 255, 0.1) 0%,
                                          rgba(255, 255, 255, 0.0) 59.596%,
                                          transparent 100%);
    -fx-scale-shape     : true;
    -fx-shape           : "M 0 44 L 338 44 L 484 506 L 0 506 L 0 44 Z";
}
