.root {
    -fx-base            : #242522;
    -fx-background-image: url("dukebox-background-7.png");
    -fx-background      : linear-gradient(from 0% 0% to 100% 100%,
                                          rgb(20, 20, 20) 0%,
                                          rgb(37, 36, 33) 50%,
                                          rgb(20, 20, 20) 100%);

    -selected-color     : white;
    -power-icon-color   : #7e7d70;
    -loop-in-icon-color : #7e7d70;
    -loop-out-icon-color: #7e7d70;
    -re-loop-icon-color : #7e7d70;
    -effect-color       : transparent;
    -fx-search-icon     : #000000;
    -fx-text-base-color : #8c887c;
}

.extreme-button {
    -fx-font-family             : "Bebas";
    -fx-shadow-highlight-color  : transparent;
    -fx-outer-border            : black;
    -fx-focus-color             : transparent;
    -fx-control-inner-background: #818181;
    -fx-text-base-color         : #8c887c;
    -fx-text-background-color   : #8c887c;
    -fx-text-inner-color        : #8c887c;
    -fx-inner-border            : black;
    -fx-background-image        : url("noise.png");
    -fx-background-size         : stretch;
}

.extreme-button.square {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 60%) 0%,
                                           derive(-fx-color, 5%) 5%,
                                           -fx-color 50%,
                                           derive(-fx-color, -30%) 100%);
    -fx-body-color       : linear-gradient(to bottom,
                                           derive(-fx-color, 5%) 0%,
                                           -fx-color 50%,
                                           derive(-fx-color, -30%) 100%);
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 3, 4;
    -fx-background-radius: 6, 6, 4, 3;
    -fx-padding          : 6px 3px 6px 3px;
}
.extreme-button.square.number {
    -fx-font-size: 15px;
}
.extreme-button:hover.square.number {
    -fx-font-size: 15px;
}
.extreme-button:focused.square.number {
    -fx-font-size        : 15px;
    -fx-background-insets: -1.4, 0, 3, 4;
}
.extreme-button:selected.square.number {
    -fx-text-fill: -selected-color;
}
.extreme-button:selected.square.number .text{
    -fx-effect: dropshadow(gaussian, -selected-color, 10, 0.0, 0, 0);
}

.extreme-button.square.text {
    -fx-font-size: 11px;
}
.extreme-button.square:hover.text {
    -fx-font-size: 11px;
}
.extreme-button.square:focused.text{
    -fx-font-size        : 11px;
    -fx-background-insets: -1.4, 0, 3, 4;
}
.extreme-button:selected.square.text {
    -fx-text-fill: -selected-color;
}
.extreme-button:selected.square.text .text{
    -fx-effect: dropshadow(gaussian, -selected-color, 10, 0.0, 0, 0);
}

.extreme-button.round {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 60%) 0%,
                                           derive(-fx-color, 5%) 35%,
                                           -fx-color 50%,
                                           derive(-fx-color, -30%) 100%);
    -fx-body-color       : linear-gradient(to bottom,
                                           derive(-fx-color, 5%) 0%,
                                           derive(-fx-color, -50%) 100%);
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 3, 5;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 12px;
    -fx-background-image : url("roundnoise.png");
    -fx-background-size  : stretch;
}
.extreme-button:selected.round {
    -fx-text-fill: -selected-color;
}
.extreme-button:selected.round .text {
    -fx-effect: dropshadow(gaussian, -selected-color, 10, 0.0, 0, 0);
}

.extreme-button.round.smaller {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 60%) 0%,
                                           derive(-fx-color, 5%) 35%,
                                           -fx-color 50%,
                                           derive(-fx-color, -30%) 100%);
    -fx-body-color       : linear-gradient(to bottom,
                                           derive(-fx-color, 5%) 0%,
                                           derive(-fx-color, -50%) 100%);
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 4, 7;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 20px;
}
.extreme-button:armed.round.smaller {
    -fx-text-fill: -selected-color;
}
.extreme-button:armed.round.smaller .text {
    -fx-effect: dropshadow(gaussian, -selected-color, 10, 0.0, 0, 0);
}

.extreme-button.round.bigger {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 60%) 0%,
                                           derive(-fx-color, 5%) 35%,
                                           -fx-color 50%,
                                           derive(-fx-color, -30%) 100%);
    -fx-body-color       : linear-gradient(to bottom,
                                           derive(-fx-color, 5%) 0%,
                                           derive(-fx-color, -50%) 100%);
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 3, 5;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 20px;
}
.extreme-button:armed.round.bigger {
    -fx-text-fill: -selected-color;
}
.extreme-button:armed.round.bigger .text {
    -fx-effect: dropshadow(gaussian, -selected-color, 10, 0.0, 0, 0);
}

.extreme-button.round.power {
    -power-icon-color    : #7e7d70;
    -effect-color        : transparent;
    -fx-background-insets: 0 0 -1 0, 0, 4, 6;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 12px;
}
.extreme-button.round.power:armed {
    -power-icon-color: white;
    -effect-color    : -selected-color;
}
.extreme-button.round.power:selected {
    -power-icon-color: white;
    -effect-color    : -selected-color;
}

.extreme-button.round.loop-in {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 40%) 0%,
                                           derive(-fx-color, 5%) 35%,
                                           -fx-color 30%,
                                           derive(-fx-color, -20%) 100%);
    -loop-in-icon-color  : #7e7d70;
    -effect-color        : transparent;
    -fx-background-insets: 0 0 -1 0, 0, 4, 6;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 12px;
}
.extreme-button.round.loop-in:armed {
    -loop-in-icon-color: white;
    -effect-color      : -selected-color;
}
.extreme-button.round.loop-in:selected {
    -loop-in-icon-color: white;
    -effect-color      : -selected-color;
}

.extreme-button.round.loop-out {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 40%) 0%,
                                           derive(-fx-color, 5%) 35%,
                                           -fx-color 30%,
                                           derive(-fx-color, -20%) 100%);
    -loop-out-icon-color : #7e7d70;
    -effect-color        : transparent;
    -fx-background-insets: 0 0 -1 0, 0, 4, 6;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 12px;
}
.extreme-button.round.loop-out:armed {
    -loop-out-icon-color: white;
    -effect-color       : -selected-color;
}
.extreme-button.round.loop-out:selected {
    -loop-out-icon-color: white;
    -effect-color       : -selected-color;
}

.extreme-button.round.re-loop {
    -fx-inner-border     : linear-gradient(to bottom,
                                           derive(-fx-color, 40%) 0%,
                                           derive(-fx-color, 5%) 35%,
                                           -fx-color 30%,
                                           derive(-fx-color, -20%) 100%);
    -re-loop-icon-color  : #7e7d70;
    -effect-color        : transparent;
    -fx-background-insets: 0 0 -1 0, 0, 4, 6;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 12px;
}
.extreme-button.round.re-loop:armed {
    -re-loop-icon-color: white;
    -effect-color      : -selected-color;
}
.extreme-button.round.re-loop:selected {
    -re-loop-icon-color: white;
    -effect-color      : -selected-color;
}


#power-icon {
    -fx-background-color: -power-icon-color;
    -fx-scale-shape     : false;
    -fx-shape           : "M 863 170 L 863 178 C 863 179.1046 863.8954 180 865 180 C 866.1046 180 867 179.1046 867 178 L 867 170 C 867 168.8954 866.1046 168 865 168 C 863.8954 168 863 168.8954 863 170 ZM 865 194 C 871.0753 194 876 189.1996 876 183.2779 C 876 178.4208 873.6867 174.3181 869.1428 173 L 869.1428 176.255 C 871.9179 177.4369 872.8572 180.1374 872.8572 183.2779 C 872.8572 187.5078 869.3394 190.9366 865 190.9366 C 860.6606 190.9366 857.1428 187.5078 857.1428 183.2779 C 857.1428 180.1374 858.0821 177.4369 860.8572 176.255 L 860.8572 173 C 856.3134 174.3181 854 178.4208 854 183.2779 C 854 189.1996 858.9247 194 865 194 Z";
    -fx-effect          : dropshadow(gaussian, -effect-color, 10, 0.0, 0, 00)
}
#loop-in-icon {
    -fx-background-color: -loop-in-icon-color;
    -fx-scale-shape     : false;
    -fx-shape           : "M 263 465.095 C 259.0274 464.8375 255.8895 461.5384 255.8875 457.5037 C 255.8855 453.3107 259.2711 449.9074 263.4641 449.8876 L 263.4552 448.0001 C 258.2226 448.0248 253.9975 452.272 254 457.5046 C 254.0025 462.5815 257.9838 466.7249 263 466.985 L 263 469 L 268 466 L 263 463 L 263 465.095 Z";
    -fx-effect          : dropshadow(gaussian, -effect-color, 10, 0.0, 0, 00)
}
#loop-out-icon {
    -fx-background-color: -loop-out-icon-color;
    -fx-scale-shape     : false;
    -fx-shape           : "M 346 449.905 C 349.9944 450.1642 353.1371 453.4949 353.1123 457.5465 C 353.0867 461.7404 349.6769 465.1219 345.4829 465.1125 L 345.4787 467 C 350.7126 467.0117 354.9679 462.7918 354.9998 457.558 C 355.0309 452.4601 351.0436 448.277 346 448.015 L 346 446 L 341 449 L 346 452 L 346 449.905 Z";
    -fx-effect          : dropshadow(gaussian, -effect-color, 10, 0.0, 0, 00)
}
#re-loop-icon {
    -fx-background-color: -re-loop-icon-color;
    -fx-scale-shape     : false;
    -fx-shape           : "M 425 449.905 C 428.4313 450.121 431.2333 452.5275 431.9496 455.9335 C 432.6951 459.4789 430.9366 462.9448 427.6353 464.4369 C 424.3339 465.929 420.5705 464.9588 418.4019 462.0566 C 416.2333 459.1544 416.3696 455.2704 418.7362 452.5273 L 417.307 451.2943 C 414.3536 454.7175 414.1836 459.5647 416.8899 463.1864 C 419.5961 466.8082 424.2927 468.0189 428.4126 466.1569 C 432.5326 464.2948 434.727 459.9695 433.7967 455.5451 C 432.8943 451.2536 429.3385 448.2338 425 448.015 L 425 446 L 420 449 L 425 452 L 425 449.905 Z";
    -fx-effect          : dropshadow(gaussian, -effect-color, 10, 0.0, 0, 0)
}

.vertical-button-box {
    -fx-background-radius: 30;
    -fx-padding          : 7;
    -fx-background-color : linear-gradient(to bottom,
                                           -fx-base 0%,
                                           -fx-base 5%,
                                           -fx-base 95%,
                                           derive(-fx-base, 60%) 100%),
                                           linear-gradient(to bottom,
                                           #131713 0%,
                                           #181C18 100%);
    -fx-background-insets: 0, 1;
    -fx-effect           : dropshadow(gaussian, rgba(200, 200, 200, 0.3), 10, 0.0, 0, 0) ;
}

.led {
    -led-color: radial-gradient(center 50% 35%,
                                radius 65%,
                                #E85B4E 0%,
                                #C84B3E 30%,
                                #752B25 70%,
                                #551E19 100%);
}
.led.background {
    -fx-background-radius: 30;
    -fx-background-color : linear-gradient(to bottom,
                                           black 0%,
                                           -fx-base 5%,
                                           -fx-base 95%,
                                           derive(-fx-base, 60%) 100%),
                                           linear-gradient(to bottom,
                                           #131713 0%,
                                           #181C18 100%);
    -fx-background-insets: 0, 1;
}
.led .foreground {
    -fx-background-radius: 30;
    -fx-background-color : radial-gradient(center 50% 35%,
                                           radius 65%,
                                           #A2A2A2 0%,
                                           #888888 30%,
                                           #646464 70%,
                                           #434343 100%);
    -fx-effect           : innershadow(gaussian, black, 4, 0.0, 0, 0);
}
.led:on .foreground {
    -fx-background-color : -led-color;
    -fx-effect           : dropshadow(gaussian, #C84B3E, 20, 0.0, 0, 0)
}

.direction-button {
    -direction: left; /* top, right, bottom left*/
}
.direction-button .top-arrow {
    -fx-background-color : #9D9B95, -fx-base;
    -fx-background-insets: 0, 1 0 -1 0;
    -fx-scale-shape      : true;
    -fx-shape            : "M 28 5 L 33 0 L 38 5 z";
}
.direction-button .right-arrow {
    -fx-background-color : #9D9B95, -fx-base;
    -fx-background-insets: 0, 0 1 0 -1;
    -fx-scale-shape      : true;
    -fx-shape            : "M 61.5 28.5 L 66.5 33.5 L 61.5 38.5 z";
}
.direction-button .bottom-arrow {
    -fx-background-color : #9D9B95, -fx-base;
    -fx-background-insets: 0, -1 0 1 0;
    -fx-scale-shape      : true;
    -fx-shape            : "M 28 61 L 33 66 L 38 61 z";
}
.direction-button .left-arrow {
    -fx-background-color : #9D9B95, -fx-base;
    -fx-background-insets: 0, 0 -1 0 1;
    -fx-scale-shape      : true;
    -fx-shape            : "M 5.5 28.5 L 0.5 33.5 L 5.5 38.5 z";
}
.direction-button:top .top-arrow {
    -fx-background-color : -selected-color, derive(-fx-base, 30%);
    -fx-effect           : dropshadow(gaussian, -selected-color, 10, 0.0, 0, -2);
}
.direction-button:right .right-arrow {
    -fx-background-color : -selected-color, derive(-fx-base, 30%);
    -fx-effect           : dropshadow(gaussian, -selected-color, 10, 0.0, 2, 0);
}
.direction-button:bottom .bottom-arrow {
    -fx-background-color : -selected-color, derive(-fx-base, 30%);
    -fx-effect           : dropshadow(gaussian, -selected-color, 10, 0.0, 0, 2);
}
.direction-button:left .left-arrow {
    -fx-background-color : -selected-color, derive(-fx-base, 30%);
    -fx-effect           : dropshadow(gaussian, -selected-color, 10, 0.0, -2, 0);
}
.direction-button .background {
    -fx-background-radius: 100;
    -fx-background-color : linear-gradient(to bottom,
                                            -fx-base 0%,
                                            -fx-base 5%,
                                            -fx-base 95%,
                                            derive(-fx-base, 60%) 100%),
                                            linear-gradient(to bottom,
                                            #131713 0%,
                                            #181C18 100%);
    -fx-background-insets: 0, 1;
}
.direction-button .foreground {
    -fx-background-radius : 100;
    -fx-background-color  : linear-gradient(to bottom,
                                            #8B8A7E 0%,
                                            #2F312C 50%,
                                            #0A0B0B 100%),
                                            linear-gradient(to bottom,
                                            #484942 0%,
                                            #151614 100%),
                                            linear-gradient(to bottom,
                                            #0A0B0A 0%,
                                            #42433F 100%);
    -fx-background-insets:  0, 1, 4;
}
.direction-button .bars {
    -fx-background-color: linear-gradient(to bottom,
                                          rgb(57,58,55) 0%,
                                          rgb(57,58,55) 1%,
                                          rgb(27,27,25) 22%,
                                          rgb(57,58,55) 49%,
                                          rgb(21,22,19) 51%,
                                          rgb(63,62,59) 68%,
                                          rgb(12,12,11) 91%,
                                          rgb(50,51,46) 100%);
    -fx-scale-shape    : true;
    -fx-shape          : "M 24 12.5 L 24 19.5 C 24 20.3284 24.6716 21 25.5 21 C 26.3284 21 27 20.3284 27 19.5 L 27 12.5 C 27 11.6716 26.3284 11 25.5 11 C 24.6716 11 24 11.6716 24 12.5 ZM 24 31.5 L 24 38.5 C 24 39.3284 24.6716 40 25.5 40 C 26.3284 40 27 39.3284 27 38.5 L 27 31.5 C 27 30.6716 26.3284 30 25.5 30 C 24.6716 30 24 30.6716 24 31.5 ZM 30 25 L 30 26 C 30 26.5523 30.4477 27 31 27 L 39 27 C 39.5523 27 40 26.5523 40 26 L 40 25 C 40 24.4477 39.5523 24 39 24 L 31 24 C 30.4477 24 30 24.4477 30 25 ZM 11 25 L 11 26 C 11 26.5523 11.4477 27 12 27 L 20 27 C 20.5523 27 21 26.5523 21 26 L 21 25 C 21 24.4477 20.5523 24 20 24 L 12 24 C 11.4477 24 11 24.4477 11 25 Z";
}

.tempo-slider-container {
    -fx-background-radius: 3.75, 3.5;
    -fx-background-color : linear-gradient(to bottom,
                                           -fx-base 0%,
                                           -fx-base 5%,
                                           -fx-base 99%,
                                           derive(-fx-base, 60%) 100%),
                                           linear-gradient(to bottom,
                                           rgb(16,16,13) 0%,
                                           rgb(20,20,17) 5%,
                                           rgb(20,20,17) 50%,
                                           rgb(20,20,17) 95%,
                                           rgb(20,20,17) 100%);
    -fx-background-insets: 0, 1;
}
.tempo-slider {
    -fx-orientation     : vertical;
    -fx-major-tick-unit : 4;
    -fx-minor-tick-count: 1;
}
.tempo-slider .thumb { /* 49 x 59 */
    -fx-background-insets: -22 -16 -22 -16;
    -fx-background-radius: 3.75;
    -fx-background-color : linear-gradient(to bottom,
                                           rgb(230,228,221) 0%,
                                           rgb(187,184,174) 29%,
                                           rgb(171,168,158) 37%,
                                           rgb(221,217,203) 39%,
                                           rgb(221,217,203) 46%,
                                           rgb(73,72,67) 47%,
                                           rgb(37,36,33) 48%,
                                           rgb(37,36,33) 51%,
                                           rgb(229,226,218) 52%,
                                           rgb(196,191,176) 53%,
                                           rgb(186,181,167) 61%,
                                           rgb(97,94,85) 62%,
                                           rgb(90,88,80) 66%,
                                           rgb(108,105,95) 83%,
                                           rgb(114,111,103) 100%);
}
.tempo-slider .track {
    -fx-background-radius: 0;
    -fx-background-color : #0A0A09;
    -fx-background-insets: 10 0 -10 0;
    -fx-effect           : dropshadow(gaussian, white, 5, 0.0, 0, 0);
}
.tempo-label {
    -fx-font-family: "Bebas";
    -fx-font-size  : 14;
    -fx-text-fill  : #3A3933;
}

#cue {
    -fx-background-color   : transparent;
    -fx-focus-color        : transparent;
    -fx-background-image   : url("cue.png");
    -fx-background-position: center;
}
#cue:armed {
    -fx-background-color: transparent;
    -fx-background-image: url("cue_pressed.png");
}
#cue:hover {
    -fx-background-color: transparent;
}

#play {
    -fx-background-color   : transparent;
    -fx-focus-color        : transparent;
    -fx-background-image   : url("play_pause.png");
    -fx-background-position: center;
}
#play:armed {
    -fx-background-color   : transparent;
    -fx-background-image   : url("play_pause_pressed.png");
}
#play:hover {
    -fx-background-color: transparent;
}

.extreme-button.square.text.beat {
    -fx-font-size: 10px;
}
.extreme-button.square:hover.text.beat {
    -fx-font-size: 10px;
}
.extreme-button.square:focused.text.beat {
    -fx-font-size        : 10px;
    -fx-background-insets: -1.4, 0, 3, 4;
}
.extreme-button:selected.square.text.beat {
    -fx-text-fill: -selected-color;
}
.extreme-button:selected.square.text.beat .text{
    -fx-effect   : dropshadow(gaussian, -selected-color, 10, 0.0, 0, 0);
}

/*Toni*/
.metal.linear {
    -fx-background-color    : black;
    -fx-background-radius   : 8;
    -fx-text-base-color     : #151515;
    -fx-font-family         : "Bebas";
    -fx-font-size           : 14px;
    -fx-padding             : 5;
    -fx-border-image-source : url("vinyl-button.png");
    -fx-border-image-slice  : 4 4 4 4  fill;
    -fx-border-image-width  : 4 4 4 4  ;
    -fx-border-image-insets : 4;

    -fx-border-image-padding: 0 10 0 10;  
    -fx-border-image-repeat : stretch;
    -fx-effect              : dropshadow(gaussian, #00000060, 5, 0, 0, 03)
}
.metal.linear:selected .text{
    -fx-effect: dropshadow(gaussian, -selected-color, 10,0,0,0);
}
.metal.linear:selected {
    -fx-text-fill: -selected-color;
    -fx-effect   : innershadow(gaussian, #00000060, 5, 0.7, 0, 00)
}
.metal.linear:focused {
    -fx-font-size: 14px;
}

.track-search-button{
    -fx-focus-color             : transparent;
    -fx-rotate                  : 15;
    -fx-shadow-highlight-color  : #48463f;
    -fx-outer-border            : #151513;
    -fx-inner-border            :  linear-gradient(to bottom,
                                                   #ffffff 0%,
                                                   #20201d 100%);
    -fx-body-color       : linear-gradient(to  right,
                                           #f4efe455 0%,
                                           #dfdbcd55 25%,
                                           #bcb7a655 26%,
                                           #b7b3a355 50%,
                                           #dedacb55 75%,
                                           #bcb7a655 100%);
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -2 0, 0, 1, 3;
    -fx-background-radius: 1024;
    -fx-padding          : 3px 3px 3px 3px;
    -fx-font-size        : 12px;
}
.track-search-button:pressed{
    -fx-search-icon       :#ffffff;
    -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets:  0 0 -2 0, 0,2, 4;
}


#track-search-right {
    -fx-background-color: -fx-search-icon;
    -fx-scale-shape     : false;
    -fx-shape           : "M 27.8486 26 L 27.8486 35 L 29 35 L 29 26 L 27.8486 26 ZM 20.9403 35 L 27.2729 30.6 L 20.9403 26.2 L 20.9403 35 ZM 14.032 35 L 20.3646 30.6 L 14.032 26.2 L 14.032 35 Z";
    -fx-effect          : dropshadow(gaussian, #ffffff, 1, .1, 0, 1)
}
#track-search-left {
    -fx-background-color: -fx-search-icon;
    -fx-scale-shape     : false;
    -fx-shape           : "M 15.1514 35 L 15.1514 26 L 14 26 L 14 35 L 15.1514 35 ZM 22.0597 26 L 15.7271 30.4 L 22.0597 34.8 L 22.0597 26 ZM 28.968 26 L 22.6354 30.4 L 28.968 34.8 L 28.968 26 Z";
    -fx-effect          : dropshadow(gaussian, #ffffff, 1, .1, 0, 1)
}

#search-right {
    -fx-background-color: -fx-search-icon;
    -fx-scale-shape     : false;
    -fx-shape           : "M 22.6674 34.8 L 29 30.4 L 22.6674 26 L 22.6674 34.8 ZM 15.7591 34.8 L 22.0917 30.4 L 15.7591 26 L 15.7591 34.8 Z";
    -fx-effect          : dropshadow(gaussian, #ffffff, 1, .1, 0, 1)
}
#search-left {
    -fx-background-color: -fx-search-icon;
    -fx-scale-shape     : false;
    -fx-shape           : "M 22.0597 26 L 15.7271 30.4 L 22.0597 34.8 L 22.0597 26 ZM 28.968 26 L 22.6354 30.4 L 28.968 34.8 L 28.968 26 Z";
    -fx-effect          : dropshadow(gaussian, #ffffff, 1, .1, 0, 1)
}

.track-search-box {
    -fx-rotate           : -15;
    -fx-translate-x      :10;
    -fx-background-radius: 25;
    -fx-padding          : 7;
    -fx-background-color : #ffffff10, #0e0e0b;
    -fx-background-insets: -1, 0;
    -fx-effect           : dropshadow(gaussian, rgba(200, 200, 200, 0.3), 10, 0.0, 0, 0) ;
}
