.vinyl{
    -fx-skin: "extremeguimakeover.VinylSkin";
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,.64), 20, 0 , 0, 10 );
}

.vinyl-knob{
    -fx-fill: linear-gradient(to bottom,
        rgb(146,142,128) 0%,
        rgb(139,135,122) 9%,
        rgb(132,129,116) 16%,
        rgb(123,120,108) 26%,
        rgb(107,105,96) 38%,
        rgb(93,90,82) 50%,
        rgb(74,73,66) 61%,
        rgb(66,64,57) 71%,
        rgb(44,43,39) 87%,
        rgb(39,37,34) 100%);

}

vinyl-overlay {
    -fx-fill : linear-gradient(to bottom,
        rgb(54,53,49) 0%,
        rgb(46,44,40) 27%,
        rgb(34,33,30) 53%,
        rgb(24,24,21) 72%,
        rgb(16,16,13) 100%);
}

